.disabled {
  border: none;
  color: lightgrey;
  opacity: 0.1;
}

.current {
  font-weight: bold;
}

.container {
  min-width: 650px;
  width: 92rem;
  transition-duration: 0.5s;
}

.col-12 {
  min-height: 50px;
}

.nostudy.today {
  --bs-btn-disabled-color: darkred;
  font-weight: bold;
  --bs-btn-disabled-opacity: 1;
}

.today {
  --bs-btn-disabled-color: red;
  font-weight: bold;
}

.nostudy {
  --bs-btn-disabled-color: white;
}

.pblink {
  float: right;
}